---
import { MessageCircleCode, Pickaxe } from "@lucide/astro";
// Nota: Usaremos 'MessageCircleCode' para simbolizar la comunicación
// y la programación en el footer.
---

<footer class="footer footer-horizontal footer-center bg-base-200 py-10">
  <aside>
    <MessageCircleCode class="inline-block size-20" />
    <p class="max-w-xl m-auto text-lg">
      ¿Interesado en una colaboración? Envíame un correo electrónico a 
      <a
        href="https://mail.google.com/mail/u/0/?view=cm&fs=1&to=danigt.dev@gmail.com" 
        target="_blank"
        class="link link-hover text-primary"
      >
        danigt.dev@gmail.com
      </a>
      y conversemos sobre tu próximo proyecto.
    </p>
    <p class="text-base-content/60">
      Copyright © {new Date().getFullYear()} - Desarrollado por un Ingeniero en Computación
      <a class="link" href="https://www.linkedin.com/in/daniel-guarimata-11436921a/" target="_blank">
        <Pickaxe class="size-3 inline-block mr-1" />Daniel Guarimata
      </a>
    </p>
  </aside>
</footer>